
.errorSummary {
    display: none;
}
.not-resizeable {
    resize: none;
}
.contact {
    padding: 1rem 1rem 0.2rem 1rem;
}
.contact h1 {
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    margin: 1rem 0;
}
.contact p {
    margin: 0 0 1rem;
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    
}
form label {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
form input, textarea{
    height: 2.5rem;
    margin-bottom: 1rem;
    border: 0.0625rem solid #ccc;
    transition: border-color 0.3s ease;
}
form input:focus, textarea:focus{
    border-color: var(--primary);
    outline: none;
}
form textarea {
    height: 5rem;
}
form button {
    margin: 0 auto;
    font-size: 1.5rem;
    background-color: var(--primary);
    border-radius: 0.625rem;
    padding: 0.2rem 0.5rem;
    border: none;
    width: 50%;
    transition: background-color 0.3s ease;
}
form button:hover, button:focus{
    background-color: #DFDCDC;
}
.info {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}
.info h2 {
    margin: 2rem 0 1rem;
}
.info p {
    font-size: 100%;
    margin: 0 0 0.5rem;
}
.info p:first-of-type {
    position: relative;
    padding-left: 2rem;
}
.info p:first-of-type::before {
    content: "";
    background: url(../images/email.png) no-repeat center center; /* Pas het pad naar je afbeelding aan */
    background-size: contain;
    width: 30px; /* Pas de breedte aan naar de grootte van je afbeelding */
    height: 30px; /* Pas de hoogte aan naar de grootte van je afbeelding */
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.info p:nth-of-type(2) {
    position: relative;
    padding-left: 2rem;
}
.info p:nth-of-type(2)::before {
    content: "";
    background: url(../images/telefoon.png) no-repeat center center; /* Pas het pad naar je afbeelding aan */
    background-size: contain;
    width: 30px; /* Pas de breedte aan naar de grootte van je afbeelding */
    height: 30px; /* Pas de hoogte aan naar de grootte van je afbeelding */
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* Form succesvol */
.succes {
    display: flex;
    justify-content: center;
}
h1 {
    font-weight: 900;
    font-size: 4rem;
}

/* Media queries */
@media (min-width: 36rem) {
    .contact {
        padding: 1rem 3rem 0.2rem 3rem;
    }

}
@media (min-width: 48rem) {
    /* Helpers */
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }   
    .contact {
        padding: 0rem;
        width: 30rem;
    }
}
@media (min-width: 62rem) {
    nav.content li:nth-child(1)  {
        margin-left: 24rem;
      }
    /* Helpers */
    .center {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 80rem;
        margin: 0 auto;
        width: 100%;
    }
    .container {
        max-width: 80rem;
    }

    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin-top: 0;
        width: 60%;
    }
    form label, 
    form input,
    textarea {
        width: 20rem;
    }
    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--primary);
        height: 100vh;
        width: 50%;
        margin: 0;
    }
    .info h2 {
        font-size: 2rem;
        font-weight: 600;
        margin: 2rem 0 0.5rem;
    }
    .info p {
        margin: 0 0 1rem;
    }


}
@media (min-width: 75rem) {
    nav.content li:nth-child(1)  {
        margin-left: 28rem;
      }
    .contact {
        width: 70%;
    }
    .info h2 {
        font-size: 2.5rem;
    }
    .info p {
        font-size: 1.5rem;
    }
}
@media (min-width: 1400px) {
    .contact {
        width: 80%;
    }
}