/* Hero */
.hero {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    margin-bottom: 4rem;
  }
  .hero .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero .content h1 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 1rem;
  }
  .hero .content p {
    margin-bottom: 1.5rem;
  }
  .hero .content a {
    text-transform: uppercase;
    text-decoration: none;
    background-color: var(--primary);
    border-radius: 0.625rem;
    padding: 0.5rem 3rem;
    color: var(--secundary);
  }
  .hero figure {
    margin: 1rem 0 0;
    order: -1;
  }
  .hero figure img {
    object-fit: cover;
    aspect-ratio: 8/5;
    max-width: 100%;
  }
  
  /* About */
  .about {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    align-items: center;
    margin-bottom: 4rem;
  }
  .about .content h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .about .content p {
    margin: 0;
  }
  .about figure {
    order: -1;
  }
  .about figure img {
    object-fit: cover;
    max-width: 100%;
  }
  
  /* vragen */
  
  .vragen {
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    height: 8rem;
    text-align: center;
  }
  .vragen h2 {
    margin-bottom: 1.5rem;
  }
  .vragen a {
    margin-top: 4rem;
    text-decoration: none;
    color: var(--secundary);
    border: 1px solid var(--secundary);
    padding: 0.5rem 3rem;
    border-radius: 0.625rem;
    transition: background-color 0.3s ease;
  }
  .vragen a:hover {
    background-color: #DFDCDC;
  }
  /* info */

  .info {
    padding: 1rem;
    margin-bottom: 4rem;
  }
  .info p {
    margin: 0;
  }

  /* Media queries */
@media (min-width: 36rem) {
  .hero .content h1 {
    font-size: 1.5rem;
    margin: 1rem 0 0 0;
  }
  .hero .content p {
    max-width: 30rem;
  }
  .about {
    flex-direction: row;
  }
  .about .content p {
    max-width: 37.5rem;
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 48rem) {
  /* Hero */
  .hero {
    padding: 0;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 0 0 4rem 0;
    max-width: 60rem;
    margin: 0 auto;
  }
  .hero .content {
    position: absolute;
  }
  .hero .content h1 {
    font-size: 1.9rem;
    margin: 0;
  }
  .hero .content p {
    max-width: 37.5rem;
  }
  .hero figure {
    margin: 0.2rem 0 0;
  }
  .hero figure img {
    aspect-ratio: 16/9;
    opacity: 0.3;
  }
}
@media (min-width: 62rem) {

}
@media (min-width: 75rem) {

}
@media (min-width: 87.5rem) {

}